* {
    margin: 0; /*vnytr otstyp*/
    padding: 0; /*vne*/
    box-sizing: border-box;


}

input, button{
    border:  none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

input {
    border: 3px solid purple;
    border-radius: 10px;
    padding: 5px;

}
input:focus {
    background-color: solid brown;

}
button{
    padding: 5px;
    border: 3 px solid burlywood;
    border-radius: 10px;
    background-color: burlywood;
    color: black;
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

button:hover{
    background-color: aqua;
    color: black;
}

#ContactForm{
    border: 3px purple;
    border-radius: 10px;
    background-color: aqua;
    padding: 10px ;
    max-width: 250px;
}

.error{
    border: 3px red;
    border-radius: 10 px;
    background-color: lightcoral;
    color: burlywood;
}